$grey: #aab1ba;
$black: #000000;
$off-white: #ecf4f7;
$gold: #fddf7f;
$teal: #83e1e5;

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.2rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.app-header {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1.3rem;
  margin-left: 0.8rem;
}

.wing-logo {
  height: 5rem;
  width: auto;
}

.log-out-wrapper {
  margin-top: -3rem;
  margin-right: 2.7rem;
}

.log-out-button {
  font-weight: 200;
  cursor: pointer;
}

.tracking-input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.tracking-input-field {
  height: 2.9rem;
  width: 49vw;
  border: 1px solid $grey;
  border-radius: 2rem;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

.floating-container {
  position: relative;
  width: 49vw;
  pointer-events: none;
}

.floating-text {
  position: absolute;
  left: 0.8rem;
  top: -2.3rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  transition: all 0.4s;
  color: #a9a9a9;
  pointer-events: none;
}

.tracking-input-field:valid ~ .floating-container span {
  top: -5.45rem;
  font-size: 1.1rem;
  left: 0.4rem;
}

.track-button {
  margin-top: 1.7rem;
  width: 6.4rem;
  height: 2.7rem;
  border-radius: 0.6rem;
  border: 1px solid $grey;
  outline: none;
  font-size: 1.32rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: $off-white;
}

.card-container {
  margin-top: 10rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.list-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.list-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.list-header {
  font-size: 1.6rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
}

.detail-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.detail-header-wrapper {
  height: 2.5rem;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.detail-header {
  font-size: 1.6rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
}

.calendar-wrapper {
  padding-top: 1.6rem;
  padding-left: 2rem;
  padding-right: 1.4rem;
  padding-bottom: 2.5rem;
  width: 98vw;
}

.calendar-left-header {
  height: 2.5rem;
  font-weight: 400;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  // padding-top: 0.6rem;
  // padding-left: 1.7rem;
  // padding-right: 1.7rem;
  // padding-bottom: 0.2rem;
}

.calendar-header {
  height: 2.5rem;
  font-weight: 150;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  // padding-top: 0.6rem;
  // padding-left: 1.7rem;
  // padding-right: 1.7rem;
  // padding-bottom: 0.2rem;
}
