$grey: #aab1ba;
$black: #000000;
$off-white: #ecf4f7;
$gold: #fddf7f;
$teal: #83e1e5;

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.2rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  transition: all 0.8s;
}

.logo-wrapper:hover {
  margin-left: 1rem;
}

.app-header {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1.3rem;
  margin-left: 0.8rem;
}

.wing-logo {
  height: 5rem;
  width: auto;
}

.log-out-wrapper {
  margin-top: -3rem;
  margin-right: 2.8rem;
}

.log-out-button {
  font-weight: 200;
  cursor: pointer;
}

.tracking-input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4.5rem;
}

.tracking-input-field {
  height: 2.9rem;
  width: 49vw;
  border: 1px solid $grey;
  border-radius: 2rem;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

.floating-container {
  position: relative;
  width: 49vw;
  pointer-events: none;
}

.floating-text {
  position: absolute;
  left: 0.8rem;
  top: -2.3rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  transition: all 0.4s;
  color: #a9a9a9;
  pointer-events: none;
}

.tracking-input-field:valid ~ .floating-container span {
  top: -5.45rem;
  font-size: 1.1rem;
  left: 0.4rem;
}

.track-button {
  margin-top: 1.5rem;
  width: 6.4rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  border: 1px solid $grey;
  outline: none;
  font-size: 1.32rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: $off-white;
}

.card-container {
  margin-top: 11rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.list-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.list-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.list-header {
  font-size: 1.58rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
}

.item-container {
  display: flex;
  position: relative;
  margin-left: 1.61rem;
  margin-top: 2.2rem;
  margin-bottom: -0.6rem;
  border: 0.5px solid $grey;
  border-radius: 0.4rem;
  height: 2.8rem;
  width: 92%;
  cursor: pointer;
}

.color-code {
  position: absolute;
  margin-top: 0.45rem;
  margin-left: 0.6rem;
  height: 1.8rem;
  width: 1.8rem;
  border: 0.5px solid $grey;
  border-radius: 0.2rem;
  font-weight: 100;
}

.shipment-label {
  margin-left: 4rem;
  margin-top: 0.7rem;
  font-size: 1.15rem;
  font-weight: 100;
  width: 108%;
  height: 2.8rem;
  outline: none;
  text-decoration: none;
}

.item-buttons {
  display: flex;
  position: absolute;
  right: 2rem;
}

.remove-button {
  margin-top: 0.7rem;
  height: 1rem;
  margin-right: -5rem;
  width: auto;
  cursor: pointer;
  padding: 0.2rem;
}

.detail-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.detail-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.detail-header {
  font-size: 1.6rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
}

.detail-body {
  display: flex;
  flex-direction: column;
}

.tracking-number {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}

.expected-delivery {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}
