//LAYOUT PALETTE:
$grey: #aab1ba;
$black: #000000;
$off-white: #ecf4f7;
$gold: #fddf7f;
$teal: #83e1e5;

//LABEL PALETTE:
$red: #e8342e;
$green: #4fc946;
$blue: #3c63b2;
$lavender: #a66ed6;

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

// HEADER & LOGO

.header-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.2rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  transition: all 0.8s;
}

.logo-wrapper:hover {
  margin-left: 1rem;
}

.app-header {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1.3rem;
  margin-left: 0.8rem;
}

.wing-logo {
  height: 5rem;
  width: auto;
}

.log-out-wrapper {
  margin-top: -3rem;
  margin-right: 2.8rem;
}

.log-out-button {
  font-weight: 200;
  cursor: pointer;
}

// TRACKING INPUT BAR

.tracking-input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4.5rem;
}

.tracking-input-field {
  height: 2.9rem;
  width: 49vw;
  border: 1px solid $grey;
  border-radius: 2rem;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

.floating-container {
  position: relative;
  width: 49vw;
  pointer-events: none;
}

.floating-text {
  position: absolute;
  left: 0.8rem;
  top: -2.3rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  transition: all 0.4s;
  color: #a9a9a9;
  pointer-events: none;
}

.tracking-input-field:valid ~ .floating-container span {
  top: -5.45rem;
  font-size: 1.1rem;
  left: 0.4rem;
}

.track-button {
  margin-top: 1.5rem;
  width: 6.4rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  border: 1px solid $grey;
  outline: none;
  font-size: 1.32rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: $off-white;
}

// LIST & DETAIL VIEWS

.card-container {
  margin-top: 11rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.list-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.list-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.list-header {
  font-size: 1.58rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
}

.item-container {
  display: flex;
  position: relative;
  margin-left: 1.61rem;
  margin-top: 2.2rem;
  margin-bottom: -0.6rem;
  border: 0.5px solid $grey;
  border-radius: 0.4rem;
  height: 2.8rem;
  width: 92%;
  cursor: pointer;
}

.color-code {
  position: absolute;
  margin-top: 0.45rem;
  margin-left: 0.6rem;
  height: 1.8rem;
  width: 1.8rem;
  border: 0.5px solid $grey;
  border-radius: 0.2rem;
  font-weight: 100;
}

.shipment-label {
  margin-left: 4rem;
  margin-top: 0.7rem;
  font-size: 1.15rem;
  font-weight: 100;
  width: 108%;
  height: 2.8rem;
  outline: none;
  text-decoration: none;
}

.item-buttons {
  display: flex;
  position: absolute;
  right: 2rem;
}

.remove-button {
  margin-top: 0.7rem;
  height: 1rem;
  margin-right: -5rem;
  width: auto;
  cursor: pointer;
  padding: 0.2rem;
}

.detail-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.detail-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.detail-header {
  font-size: 1.6rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
}

.detail-body {
  display: flex;
  flex-direction: column;
}

.tracking-number {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}

.expected-delivery {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}

// LOGIN PAGE

.login-page-wrapper {
  height: 67vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid $off-white;
  border-right: 2px solid $teal;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 4rem 4.1rem 3.8rem 4.6rem;
}

.user-container,
.password-container {
  position: relative;
}

.username-field {
  height: 2rem;
  width: 13.5rem;
  border: none;
  margin-bottom: 0.5rem;
  padding-left: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  outline: none;
}

.username-field::placeholder {
  font-size: 0.95rem;
}

.user-line {
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 1px solid $off-white;
  width: 17rem;
}

.password-field {
  height: 2rem;
  width: 13.5rem;
  border: none;
  margin-bottom: 0.5rem;
  padding-left: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  outline: none;
}

.password-field::placeholder {
  padding-left: 0.15rem;
  font-size: 0.95rem;
}

.password-line {
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  border: 1px solid $off-white;
  width: 17rem;
}

.login-button {
  height: 2.75rem;
  width: 17.5rem;
  background-color: $teal;
  border: 1px solid $teal;
  border-radius: 5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.box-wrapper {
  // border: 2.2px solid $teal;
  // border-top: 4.9px solid $teal;
  // border-left: none;
  // border-bottom: none;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background-color: $teal;
}

.box {
  height: 10.5rem;
  width: auto;
  padding: 4.48rem;
  margin-left: 0;
  margin-bottom: 0.06rem;
}

.bounce {
  animation: bounce 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

// SIGNUP PAGE

.signup-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 44.5rem;
  width: 49.5vw;
  margin: auto;
  margin-right: 23rem;
  margin-bottom: 12rem;
  border: 3px solid $off-white;
  border-radius: 3rem;
  padding-top: 2.2rem;
  padding-bottom: 3rem;
  align-items: center;
}

.signup-header {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 3.5rem;
}

.signup-page-left,
.signup-page-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup-page-left input,
.signup-page-right input {
  height: 2rem;
  width: 30vw;
  border: none;
  margin-bottom: 0.5rem;
  padding-left: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  outline: none;
}

.signup-line {
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 1px solid $off-white;
  width: 25.4rem;
}

.signup-user-icon,
.signup-email-icon,
.signup-lock-icon,
.signup-address-icon,
.signup-map-icon,
.signup-zip-icon {
  margin-left: 2.5rem;
}

.signup-button {
  height: 3.2rem;
  width: 21rem;
  background-color: $teal;
  border: 3px solid $teal;
  border-radius: 5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 0rem;
  transition: all 0.4s;
}

.signup-button:hover {
  color: $teal;
  background-color: white;
}

//CALENDER
.calendar-view-container {
  height: 80vh;
  width: 46%;
  border: 1px solid $grey;
  border-radius: 0.5rem;
}

.calendar-header-wrapper {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: $off-white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 0.6rem;
}

.calendar-header {
  font-size: 1.6rem;
  font-weight: 100;
  margin-left: 1.4rem;
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
}

.calendar-body {
  display: flex;
  flex-direction: column;
}

.calendar-number {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}

.carlendar-delivery {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 3rem;
  margin-top: 2rem;
}

// .calendar-wrapper {
//   padding-top: 1.6rem;
//   padding-left: 2rem;
//   padding-right: 1.4rem;
//   padding-bottom: 2.5rem;
//   width: 100vw;
// }

// .calendar-left-header {
//   height: 2.5rem;
//   font-weight: 400;
//   color: $off-white;
//   background-color: $teal;
//   border-radius: 0.5rem 0.5rem 0 0;
//   width: 15vw;
//   border: 1px solid $teal;
//   // padding-top: 0.6rem;
//   // padding-left: 1.7rem;
//   // padding-right: 1.7rem;
//   // padding-bottom: 0.2rem;
// }

// .calendar-header {
//   height: 2.5rem;
//   font-weight: 200;
//   color: $off-white;
//   background-color: $teal;
//   border-radius: 0.5rem 0.5rem 0 0;
//   width: 15vw;
//   border: 1px solid $teal;
//   // padding-top: 0.6rem;
//   // padding-left: 1.7rem;
//   // padding-right: 1.7rem;
//   // padding-bottom: 0.2rem;
// }
